<div *ngIf="!showReferralSection">
    <app-campaign *ngIf="!showCheckoutSection"
        [campaign]="campaign"></app-campaign>

    <app-checkout *ngIf="showCheckoutSection"
        [campaign]="campaign"
        [selectedProductUId]="selectedProductUId"></app-checkout>
</div>

<div *ngIf="showReferralSection">
    <app-referral [campaign]="campaign"></app-referral>
</div>

<mat-card *ngIf="isProcessing">
    <mat-card-content>
        <mat-spinner class="preloader"></mat-spinner>
    </mat-card-content>
</mat-card>