<div *ngIf="!showReferralPage">
    <app-campaign *ngIf="selectedProductUId === null"
        [campaign]="campaign"></app-campaign>

    <app-checkout *ngIf="selectedProductUId !== null"
        [campaign]="campaign"
        [productUId]="selectedProductUId"></app-checkout>
</div>

<div *ngIf="showReferralPage">
    <app-referral [campaign]="campaign"></app-referral>
</div>

<mat-card *ngIf="isProcessing">
    <mat-card-content>
        <mat-spinner class="preloader"></mat-spinner>
    </mat-card-content>
</mat-card>