<div *ngIf="!isProcessing && campaign !== null">
    <mat-card>
        <img [src]="campaign.campaign.media"
            *ngIf="campaign.campaign.media"
            mat-card-image>
        <mat-card-title>{{campaign.campaign.title}}</mat-card-title>
        <mat-card-content>
            <div>by
                <strong>{{campaign.owner.username}}</strong>
            </div>
            <div>{{campaign.campaign.description}}</div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>Buy now</button>
            <button mat-raised-button>Refer a friend</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>Rewards</ng-template>
                <div *ngFor="let milestone of campaign.milestones; let i=index">
                    <h3>Milestone {{i+1}}</h3>

                    <div>Unloacked at: {{milestone.unlockAtValueOfSales}}</div>
                    <div>Percentage discount: {{milestone.percentageDiscount}}%</div>
                </div>

                <hr>

                <div>give: {{campaign.campaign.referralPercentage/2}}%</div>
                <div>get: {{campaign.campaign.referralPercentage/2}}%</div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>Buy</ng-template>
                <div *ngFor="let product of campaign.products">
                    <img [src]="product.media"
                        *ngIf="product.media">
                    <div>${{product.cost}}</div>
                    <div>{{product.title}}</div>
                    <div>{{product.description}}</div>
                    <div>
                        <strong>xx</strong> of
                        <strong>{{product.quantity}}</strong>
                        <br> sold
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>Campaign</ng-template>
                <div [innerHTML]="campaign.campaign.fullDescription"></div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>

<mat-card *ngIf="isProcessing">
    <mat-card-content>
        <mat-spinner class="preloader"></mat-spinner>
    </mat-card-content>
</mat-card>