<div *ngIf="campaign !== null && campaign !== undefined">
    <mat-card>
        <app-media [src]="campaign.campaign.media"
            mat-card-image></app-media>

        <mat-card-title>{{campaign.campaign.title}}</mat-card-title>
        <mat-card-content>
            <div>{{campaign.campaign.description}}</div>
            <br>
            <a routerLink="/user/{{campaign.owner.id}}"
                style="color: black; text-decoration: none;">by
                <strong>{{campaign.owner.username}}</strong>
            </a>
            <br>
            <br>
            <div>
                <div style="float: left; margin-right: 20px;">
                    <div>
                        <strong>{{campaign.milestonesReached}}</strong> of
                        <strong>{{campaign.milestones.length}}</strong>
                    </div>
                    <div class="small-descriptive-text">milestones</div>
                </div>
                <div style="float: left; margin-right: 20px;">
                    <div>
                        <strong>{{campaign.totalAmountSold}}</strong> of
                        <strong>{{campaign.totalAvailableProducts}}</strong>
                    </div>
                    <div class="small-descriptive-text">sold</div>
                </div>
                <div style="float: left;">
                    <div>
                        <strong>{{campaign.campaign.daysRemaining}}</strong>
                    </div>
                    <div class="small-descriptive-text">days to go</div>
                </div>
                <div style="clear: both;"></div>
            </div>

            <br>
            <hr>
            <br>

            <table class="hero-actions-table">
                <tbody>
                    <tr>
                        <td>
                            <div>
                                Earn
                                <span *ngIf="campaign.minimumMilestoneReward !== campaign.maximumMilestoneReward">
                                    <img src="assets/hive-coin.svg"
                                        style="max-height: 12px;">
                                    <strong>{{campaign.minimumMilestoneReward}}</strong> to
                                </span>
                                <img src="assets/hive-coin.svg"
                                    style="max-height: 12px;">
                                <strong>{{campaign.maximumMilestoneReward}}</strong>
                                when making a purchase
                            </div>
                        </td>
                        <td>
                            <div>
                                Give and Get
                                <span *ngIf="campaign.minimumReferralReward !== campaign.maximumReferralReward">
                                    <img src="assets/hive-coin.svg"
                                        style="max-height: 12px;">
                                    <strong>{{campaign.minimumReferralReward}}</strong> to
                                </span>
                                <img src="assets/hive-coin.svg"
                                    style="max-height: 12px;">
                                <strong>{{campaign.maximumReferralReward}}</strong>
                                when referring a friend to make a purchase
                            </div>
                        </td>
                    </tr>
                    <tr style="color: lightgrey;">
                        <td>
                            <mat-icon>shopping_cart</mat-icon>
                        </td>
                        <td>
                            <mat-icon>person_add</mat-icon>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button mat-raised-button
                                type="button"
                                (click)="buyNowButton()"
                                color="primary">Buy now</button>
                        </td>
                        <td>
                            <button mat-raised-button
                                type="button"
                                (click)="goToRefferalSection()"
                                color="primary">Refer a friend</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
    <mat-tab-group [(selectedIndex)]="selectedTab"
        id="app-tab-group">
        <mat-tab>
            <ng-template mat-tab-label>Rewards</ng-template>
            <mat-card>
                <mat-card-content>
                    <h3 style="text-align: center;">Milestone HiveCoin Rewards</h3>
                    <mat-progress-bar [value]="campaign.percentageOfTopMilestoneReached"></mat-progress-bar>
                    <br>
                    <div style="text-align: center;">Value of Sales:
                        <strong>${{campaign.totalValueOfSales}}</strong>
                    </div>
                    <br>

                    <table style="width: 100%;">
                        <tbody>
                            <tr *ngFor="let milestone of campaign.milestones; let i=index">
                                <td style="vertical-align: top; padding-top: 20px; width: 50px;">
                                    <img src="assets/hive-coin.svg"
                                        style="max-height: 40px;"
                                        [class.svg-greyscale]="milestone.unlockAtValueOfSales > campaign.totalValueOfSales">
                                </td>
                                <td>
                                    <h3>Milestone {{i+1}}</h3>
                                    <div>
                                        <strong>Unlocked at: ${{milestone.unlockAtValueOfSales}}</strong>
                                    </div>
                                    <div>
                                        Earn
                                        <strong>{{milestone.percentageDiscount}}%</strong>
                                        of your purchase in HiveCoins
                                    </div>
                                </td>
                                <td style="font-size: 2rem; border-left: 1px solid #ececec; text-align: center; width: 100px;"
                                    [class.text-greyscale]="milestone.unlockAtValueOfSales > campaign.totalValueOfSales">
                                    {{milestone.percentageDiscount}}%
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <h3 style="text-align: center;">Referral HiveCoin Rewards</h3>
                    <app-referral-rewards [campaign]="campaign"></app-referral-rewards>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Buy</ng-template>
            <mat-card *ngIf="campaign.refUsername && loggedInUsername !== campaign.refUsername">
                <mat-card-content style="text-align: center;">
                    <h4>🎉 You've been referred by {{campaign.refUsername}} 🎉</h4>
                    <div>Referral bonus HiveCoins Reward unlocked</div>
                </mat-card-content>
            </mat-card>

            <div class="products-container">
                <mat-card *ngFor="let product of campaign.products; let i=index"
                    style="max-width: 330px;">

                    <app-media [src]="product.media"
                        *ngIf="product.media"
                        mat-card-image></app-media>

                    <mat-card-content>
                        <br>
                        <table style="width: 100%; text-align: center; font-size: 2rem;">
                            <tbody>
                                <tr>
                                    <td>
                                        ${{product.cost}}
                                        <span style="font-size: 1rem; color: lightgrey;">USD</span>
                                    </td>
                                    <td style="border-left: 1px solid lightgray;">
                                        <img src="assets/hive-coin.svg"
                                            style="max-height: 22px;"> {{product.cost}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>

                        <h3>{{product.title}}</h3>
                        <div>{{product.description}}</div>
                        <br>
                        <div>
                            <div>
                                <strong>{{product.sold}}</strong> of
                                <strong>{{product.quantity}}</strong>
                            </div>
                            <div class="small-descriptive-text">sold</div>
                        </div>

                        <br>
                        <hr>

                        <p style="text-align: center;">
                            <strong>HiveCoins Rewards</strong>
                            <button mat-icon-button
                                type="button"
                                class="reward-info-dialog-button">
                                <mat-icon (click)="openCoinRewardInfoDialog()">info</mat-icon>
                            </button>
                        </p>

                        <app-hive-coin-rewards [campaign]="campaign"
                            [product]="product"
                            [loggedInUsername]="loggedInUsername"></app-hive-coin-rewards>
                        <br>
                        <br>
                        <br>
                        <br>
                        <button mat-raised-button
                            type="button"
                            color="primary"
                            (click)="goToProduct(product)"
                            style="width: 100%; height: 46px;">Buy this product</button>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Campaign</ng-template>
            <mat-card>
                <mat-card-content [innerHTML]="campaign.campaign.fullDescription"
                    class="fit-images"></mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>