<div>Give and Get HiveCoins! Get rewarded and make your friends love you.</div>
<br>
<div *ngFor="let referral of [1,2]; let i=index">
    <div style="float: left;">
        <img src="assets/hive-coin.svg"
            style="max-height: 40px;">
    </div>
    <div style="float: left;">
        <span *ngIf="i == 0">
            <h4>Give</h4>
            <strong>Give your friends HiveCoins</strong>
            <div>
                Your friends
                <strong>Earn and additional {{campaign.campaign.singleReferralPercentage}}%</strong>
                of their purchase back in HiveCoins
                <br> when following your link and making a purchase.
            </div>
        </span>
        <span *ngIf="i == 1">
            <h4>Get</h4>
            <strong>Refer more friends and keep earning HiveCoins, again and again.</strong>
            <div>
                You
                <strong>Earn {{campaign.campaign.singleReferralPercentage}}%</strong>
                of their purchase back in HiveCoins.
            </div>
        </span>
    </div>
    <div style="float: left; font-size: 2rem;">
        {{campaign.campaign.singleReferralPercentage}}%
    </div>
    <div style="clear: both;"></div>
</div>