<div>Give and Get HiveCoins! Get rewarded and make your friends love you.</div>
<br>

<table style="width: 100%;">
    <tbody>
        <tr *ngFor="let referral of [1,2]; let i=index">
            <td style="vertical-align: top; padding-top: 20px; width: 50px;">
                <img src="assets/hive-coin.svg"
                    style="max-height: 40px;">
            </td>
            <td>
                <span *ngIf="i == 0">
                    <h3>Give</h3>
                    <strong>Give your friends HiveCoins</strong>
                    <div>
                        Your friends
                        <strong>Earn and additional {{campaign.campaign.singleReferralPercentage}}%</strong>
                        of their purchase in HiveCoins
                        <br> when following your link and making a purchase.
                    </div>
                </span>
                <span *ngIf="i == 1">
                    <h3>Get</h3>
                    <strong>Refer more friends and keep earning HiveCoins, again and again.</strong>
                    <div>
                        You
                        <strong>Earn {{campaign.campaign.singleReferralPercentage}}%</strong>
                        of their purchase in HiveCoins.
                    </div>
                </span>
            </td>
            <td style="font-size: 2rem; border-left: 1px solid #ececec; text-align: center; width: 100px;">
                {{campaign.campaign.singleReferralPercentage}}%
            </td>
        </tr>
    </tbody>
</table>