<mat-card style="text-align: center;">
    All Hives
</mat-card>

<div class="card-container">
    <mat-card *ngFor="let campaign of campaigns"
        routerLink="/campaign/{{campaign.campaign.uId}}">
        <img [src]="campaign.campaign.media"
            *ngIf="campaign.campaign.media"
            mat-card-image>
        <mat-card-title>{{campaign.campaign.title}}</mat-card-title>
        <mat-card-content>
            <div>{{campaign.campaign.description}}</div>
            <div>by
                <strong>{{campaign.owner.username}}</strong>
            </div>
            <span>
                <span>
                    <strong>{{campaign.milestones.length}}</strong>
                </span>
                <span>milestones</span>
            </span>
            <span>
                <span>
                    <strong>{{campaign.campaign.daysRemaining}}</strong>
                </span>
                <span>days to go</span>
            </span>
        </mat-card-content>
    </mat-card>
</div>

<mat-card *ngIf="isProcessing">
    <mat-card-content>
        <mat-spinner class="preloader"></mat-spinner>
    </mat-card-content>
</mat-card>