.card-container {
    display: flex;
    flex-flow: row wrap;

    mat-card {
        max-width: 400px;
        box-sizing: border-box;

        //TODO: only on desktop
        margin-bottom: 16px;
    }
}