<md-card style="text-align: center;">
    All Hives
</md-card>

<div class="card-container">
    <md-card *ngFor="let campaign of campaigns"
        routerLink="/campaign/{{campaign.campaign.uId}}">
        <img [src]="campaign.campaign.media"
            *ngIf="campaign.campaign.media"
            md-card-image>
        <md-card-title>{{campaign.campaign.title}}</md-card-title>
        <md-card-content>
            <div>{{campaign.campaign.description}}</div>
            <div>by
                <strong>{{campaign.owner.username}}</strong>
            </div>
            <span>
                <span>
                    <strong>{{campaign.milestones.length}}</strong>
                </span>
                <span>milestones</span>
            </span>
            <span>
                <span>
                    <strong>{{campaign.campaign.daysRemaining}}</strong>
                </span>
                <span>days to go</span>
            </span>
        </md-card-content>
    </md-card>
</div>

<md-card *ngIf="isProcessing">
    <md-card-content>
        <md-spinner class="preloader"></md-spinner>
    </md-card-content>
</md-card>