/* You can add global styles to this file, and also import other style files */
@import url('~https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';
@import '~app-theme-definition.scss';

body {
    margin: 0;
    background-color:#f3f3f3;
}

.validation-message {
    color: red;
}

.center {
    margin: 0 auto !important;
    display: block !important;
}

mat-card {
    max-width: 940px;
    margin: 0 auto 10px auto;
}

.card-item {
    cursor: pointer;
    outline: none;
}

.radio-group-vertical {
    display: inline-flex;
    flex-direction: column;

    .radio-button-vertical {
        margin: 5px;
    }
}

.preloader {
    margin: 0 auto;
    max-width: 25px;
    max-height: 25px;

    svg {
        max-width: 25px;
        max-height: 25px;
    }
}

//Overide mat-card styles
mat-card[hidden] { 
    display: none; 
}

//TODO: bad don't use important. fix!
.inline-preloader {
    width: 24px !important; 
    height: 24px !important; 
    display: inline-block !important;
}

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

app-media {
    display: block;
}

.small-descriptive-text {
    font-size: 0.75rem;
}

a:visited {
    color: mat-color($app-primary);
}

.mat-raised-button.mat-primary {
    background-color: mat-color($app-primary, 700) !important;
    color: white !important;
    font-weight: bold;
}